.container{
  display: flex;
  flex-direction: column;
  align-items: center; /*alinhamento horizontal*/
  gap: 1rem;
}

.container svg{
  width: 3.5rem; /*56px*/
  height: 3.5rem;
  margin-top: 4rem;
  color: var(--gray-400);
}

.container p{
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

.container p span:first-child{
  font-weight: 700;
}
